.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.controls {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  display: flex;
  justify-content: space-between;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
